.DS_Store
.idea
*.log
*.spv
tmp/

.cache/
build/
.gdb_history
.projectile
/compile_commands.json
/.ccls-cache/
/log.txt
/external/*
!/external/backward-cpp
!/external/mmgr
!/external/reckless
!/external/stb
!/external/tinydds
!/external/tinygltf
!/external/tinyimageformat
!/external/tinyktx
!/external/volk
!/external/vulkan
!/external/imgui
!/external/slang
